article.post img {
  &.left { float: left; margin-right: 1.5em; clear: both; }
}

table {
	width: 525px;
}

td
{
  text-align: left;
  vertical-align: top;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
}